/* .main-input {
    height: fit-content;
    padding: 10px;
    width: 250px;
    border: 2px solid #1b1101;
    border-radius: 10px;
    box-shadow: 0 0 10px;
    font-size: 15px;
} */

.input-container {
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.main-input {
    width: 300px;
    height: 50px;
    padding: 12px;
    outline: none;
    border: 1px solid black;
    border-radius: 4px;
    font-size: 18px;
}

.input-container > label {
    font-size: 20px;
}
